<div *ngIf="activeGroupId !== undefined" class="task-list">
  <div *ngFor="let task of taskList?.tasks" class="task-list__task">
    {{task.title}}
  </div>
  <div *ngIf="!isNewTaskInputVisible">
    <button mat-button (click)="showNewTaskInput(newTaskInput)">
      <mat-icon>add</mat-icon>
      new task
    </button>
  </div>
  <div [ngClass]="{'hide-element': !isNewTaskInputVisible}">
    <form>
      <mat-form-field class="task-list__new-task-input">
        <input #newTaskInput matInput type="text" (blur)="onNewTaskInputBlur()">
      </mat-form-field>
      <button mat-icon-button (click)="addNewTask(newTaskInput.value)">
        <mat-icon>done</mat-icon>
      </button>
    </form>
  </div>
</div>
