:host {
  max-width: 800px;
  width: 800px;
  min-width: 300px;
  padding-left: 100px;
  padding-right: 100px;
  font-size: 18px;
}

.task {
  border-bottom: 1px solid rgb(228, 228, 228);
  max-width: 400px;
  min-width: 300px;
  margin: 0 auto;
  margin-top: 20px;
}
