.task-list {
  max-width: 220px;
  margin-left: 20px;
  margin-top: 10px;

  &__link {
    :link, :visited, :active {
      color: black;
    }
  }

  &__list {
    width: 220px;
    height: 30px;
    border-radius: 25px;
    margin-top: 10px;
    text-align: center;
    display: block;
    &:hover {
      background-color: rgb(216, 213, 213);
    }
  }

  .mat-mdc-radio-checked {
    background-color: rgb(235, 191, 69);
  }

  ::ng-deep {
    .mdc-form-field {
      vertical-align: -webkit-baseline-middle;
    }

    .mdc-radio {
      display: none;
    }

    .mdc-label {
      font-size: 16px;
    }
  }
}
