<div class="main-screen">
  <div [formGroup]="radioBtnGroup" class="task-list">
    <mat-radio-group formControlName="activeTaskList" class="task-list__group">
      <a
        *ngFor="let todoList of allTaskLists?.lists" 
        [routerLink]="['/todo']"
        [queryParams]="{list: todoList.id}"
        class="task-list__link"
        (click)="loadTaskList(todoList.id)"
      >
        <mat-radio-button [value]="todoList.id" class="task-list__list">{{todoList.title}}</mat-radio-button>
      </a>
    </mat-radio-group>
  </div>

  <app-active-task-group [taskList]="taskList"></app-active-task-group>
</div>
