<div [formGroup]="radioBtnGroup" class="task-list">
  <mat-radio-group formControlName="activeTaskList" class="task-list__group">
    <a
      *ngFor="let todoList of allTaskLists?.lists" 
      [routerLink]="['/todo']"
      [queryParams]="{list: todoList.id}"
      class="task-list__link"
    >
      <mat-radio-button [value]="todoList.id" class="task-list__list">{{todoList.title}}</mat-radio-button>
    </a>
    <button [ngClass]="{'hide-element': !isInputVisible}" mat-icon-button class="task-list__show-input" (click)="showNewTaskGroupFormField()">
      <mat-icon>add</mat-icon>
    </button>
    <form [ngClass]="{'hide-element': isInputVisible}" class="new-task-group">
      <mat-form-field class="new-task-group__wrapper">
        <input 
          [(ngModel)]="inputText"
          #newTaskGroupFormField type="text" matInput name="newTaskGroupInput" class="new-task-group__input" 
          (keydown.enter)="createNewTaskGroup(inputText)"
        >
        <button [ngClass]="{'hide-element': isInputVisible}" mat-icon-button class="new-task-group__hide-input" (click)="hideNewTaskGroupFormField()">
          <mat-icon>cancel</mat-icon>
        </button>
      </mat-form-field>
      <button mat-icon-button class="new-task-group__confirm" (click)="createNewTaskGroup(inputText)">
        <mat-icon>done</mat-icon>
      </button>
    </form>
  </mat-radio-group>
</div>

<app-active-task-group [taskList]="taskList"></app-active-task-group>

<div [ngClass]="{'loading-screen': isResultLoading}">
  <img class="loading-spinner" src="/assets/svg/loading-screen.svg" alt="">
</div>
