:host {
  height: 100vh;
  display: flex;
}

.task-list {
  height: 100%;
  overflow-y: auto;
  padding-left: 20px;
  padding-top: 10px;
  padding-right: 15px;
  background-color: rgb(247, 246, 246);

  &__link {
    position: relative;
    &:hover, &:focus-within {
      .task-list__showing-control-menu, .task-list__rename {
        visibility: visible;
      }
    }
    &:link, &:visited, &:active {
      color: black;
    }
  }

  &__showing-control-menu, &__rename {
    height: 30px;
    width: 30px;
    padding: 4px;
    position: absolute;
    top: 10px;
    right: 2px;
    visibility: hidden;
    ::ng-deep {
      .mat-mdc-button-touch-target {
        height: 30px;
        width: 30px;
      }
    }
  }

  &__list {
    width: 260px;
    height: 30px;
    border-radius: 5px;
    margin-top: 10px;
    text-align: center;
    display: block;
    &:hover {
      background-color: rgb(216, 213, 213);
    }
  }

  &__add {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

  .mat-mdc-radio-checked {
    background-color: #91a0f3;
  }

  ::ng-deep {
    .mdc-form-field {
      vertical-align: -webkit-baseline-middle;
    }

    .mdc-radio {
      display: none;
    }

    .mdc-label {
      font-size: 16px;
    }
  }
}

.loading-spinner {
  display: none;
}

.loading-screen {
  z-index: 2;
  display: block;
  position: absolute;
  background-color: white;
  opacity: 0.7;
  width: 100%;
  height: 100%;
  .loading-spinner {
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}

.rename-task-list {
  ::ng-deep {
    .input-layout {
      &__confirm {
        height: 30px;
        width: 30px;
        padding: 4px;
        .mat-mdc-button-touch-target {
          height: 30px;
          width: 30px;
        }
      }
    }

    .mat-mdc-text-field-wrapper {
      margin-top: 2px;
      height: 26px !important;
      background-color: rgb(231, 231, 231);
    }
    .mat-mdc-form-field-infix {
      padding-top: 2px;
    }
    .mat-mdc-form-field-focus-overlay, .mdc-line-ripple {
      display: none;
    }
  }
}

.new-task-list {
  ::ng-deep {
    .mat-mdc-text-field-wrapper {
      height: 50px !important;
    }
    .mat-mdc-form-field-infix {
      padding-top: 12px;
    }
  }
}

.new-task-list-wrapper {
  margin-top: 15px;
}
