:host {
  width: 800px;
  min-width: 300px;
  font-size: 18px;
  height: 100%;
  overflow-y: auto;
  flex-grow: 4;
}

.task-list {
  max-width: 500px;
  width: 100%;
  margin-top: 10px;
  margin-left: 70px;

  &__task {
    border-bottom: 1px solid rgb(228, 228, 228);
    margin-top: 20px;
  }
}

.new-task {
  ::ng-deep {
    .mat-mdc-text-field-wrapper {
      height: 50px !important;
    }
    .mat-mdc-form-field-flex {
      margin-top: -3px !important;
    }
  }
}

.new-task-wrapper {
  margin-top: 10px;
}
