<div *ngIf="(activeListId$ | async)" class="task-list">
  <div *ngIf="!isRenameTaskListVisible">
    <div class="task-list__title">
      <p>{{(activeTaskGroup$ | async)?.title}}</p>
      <button 
        [matMenuTriggerRestoreFocus]="false" 
        [matMenuTriggerFor]="menu" 
        mat-icon-button
        disableRipple="true"
      >
        <mat-icon>more_horiz</mat-icon>
      </button>
    </div>
    <mat-menu #menu="matMenu">
      <button
        mat-menu-item
        (click)="isRenameTaskListVisible = true"
      >
        Rename
      </button>
      <button 
        mat-menu-item 
        (click)="deleteTaskListById()"
      >
        Delete
      </button>
    </mat-menu>
  </div>
  <app-form-field-layout 
    *ngIf="isRenameTaskListVisible" 
    [taskListInputValue]="(activeTaskGroup$ | async)?.title" 
    (taskListInput)="renameTaskList($event)"
    (taskListInputBlur)="onBlur()"
  ></app-form-field-layout>
  <div>
    <div *ngFor="let task of (taskList$ | async)?.tasks" class="task-list__task">
      {{task.title}}
    </div>
    <div class="new-task-wrapper">
      <div *ngIf="!isNewTaskInputVisible">
        <button mat-button (click)="showNewTaskInput()">
          <mat-icon>add</mat-icon>
          New Task
        </button>
      </div>
      <app-form-field-layout 
        *ngIf="isNewTaskInputVisible"
        [taskListInputValue]="''"
        class="new-task"
        (taskListInput)="addNewTask($event)"
        (taskListInputBlur)="onBlur()"
      ></app-form-field-layout>
    </div>
  </div>
</div>
